<%- model_class = Client -%>
<div class="page-header">
  <% if params.try(:[], :expired_subscription).present? %>
    <h1><%=t '.title', :default => 'Socios con Cuotas Vencidas' %></h1>
  <% else %>
    <h1><%=t '.title', :default => 'Socios' %></h1>
  <% end %>
</div>

<div class="page-search">
  <p><strong>Ingresar nombre o apellido para buscar el socio </strong></p>
  <%= form_tag clients_path, :method => 'get', class: 'search-form' do %>
    <p>
      <%= hidden_field_tag :expired_subscription, params[:expired_subscription] %>
      <%= text_field_tag :search, params[:search], id: 'search-input', class: 'search-input' %>
      <%= submit_tag "Buscar", :name => nil, class: 'btn search-submit' %>
    </p>
  <% end %>
</div>

<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= 'Nombre' %></th>
      <th><%= 'Apellido' %></th>
      <th><%= 'Telefono' %></th>
      <th><%= 'Email' %></th>
      <th><%= 'Direccion' %></th>
      <th><%= 'Fecha de Nacimiento' %></th>
      <th><%= 'Fecha de Pago' %></th>
      <th><%= 'Cuota vence en:' %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= link_to client.id, client_path(client) %></td>
        <td><%= client.first_name %></td>
        <td><%= client.last_name %></td>
        <td><%= client.phone %></td>
        <td><%= client.email %></td>
        <td><%= client.address %></td>
        <td><%= client.birthdate %></td>
        <td><%= client.paymentdate %></td>
        <td><%= client.subscription_expired? ? "La Cuota está vencida" : show_remaining_time(client.paymentdate)%></td>
        <td>
          <% if current_user.present? %>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_client_path(client), :class => 'btn btn-mini' %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                        client_path(client),
                        :method => :delete,
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                        :class => 'btn btn-mini btn-danger' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if current_user.present? %>
  <%= link_to t('.new', :default => 'Nuevo Socio'),
            new_client_path,
            :class => 'btn btn-primary' %>
<% end %>
